@import 'tailwindcss';

@theme {
  --font-spicy: 'Spicy Rice', 'Roboto';
  --font-bubblegum: 'Bubblegum Sans', 'Roboto';
  --purple-1000: #101028;
  --jakarta: 'Plus Jakarta Sans', 'Roboto', 'Bubblegum Sans';
}

@custom-variant dark (&:where(.dark, .dark *));

.posts-button {
  @apply dark:bg-purple-400/5 bg-purple-400/10 border-b text-purple-600 transition-colors dark:text-purple-400 border-purple-700;
}
.profile-header-w {
  @apply w-[calc(100vw-6.6rem)] md:w-[calc(100vw-14rem)] lg:w-[calc(100vw-21rem)];
}
.form-input {
  @apply border-neutral-300 dark:border-neutral-700 border p-2.5 mt-1! dark:text-neutral-200 rounded-xl text-neutral-900;
}
.form-label {
  @apply text-sm font-medium mt-2! justify-between;
}
.form-button {
  @apply flex hover:bg-purple-800 transition-colors items-center justify-center gap-5 bg-purple-700 mt-3! p-2  shadow-xl font-medium! rounded-xl text-white;
}
.auth-button {
  @apply flex items-center gap-2 justify-center border border-neutral-300 hover:bg-neutral-200/50 rounded-xl dark:border-neutral-600 dark:hover:bg-gray-600/40 transition-colors p-1;
}
.error-span {
  @apply text-sm text-red-600 dark:text-red-400 mt-1;
}
.hr {
  @apply flex-1 h-px border-t border-gray-300 dark:border-gray-700;
}

.bg-theme {
  @apply bg-neutral-50 dark:text-white dark:bg-(--purple-1000);
}
.header-button {
  @apply w-fit h-fit p-2 hover:bg-neutral-100 dark:hover:bg-gray-700/30  rounded-full;
}

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}
/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}
/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}
body {
  /* 4. Increase line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
  font-family:
    'Plus Jakarta Sans',
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
}
/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}
/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}
/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}
